# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
